body{
	background-color: #efeee7;
	margin: 0;
   	padding: 0;
   	font-family: "Georgia", "Times New Roman" ,Times,serif;
   	font-size: 18px;
   	line-height: 30px;
   	color: #777777;
}
.allh1{
	text-align: left;
    font-size: 28px;
    color: #efeee7;
    background-color: #4aaaa5;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;

}
.myh1 {
	text-align:center;
    margin-left: 50px;
    width:25%;
    float: left;
    margin-right: 100px;
}
.offsetCl{
	 margin-left: 50px;
}
h2{
	font-size: 24px;
	padding-bottom: 5px;
	padding-top: 10px;
	color: #4aaaa5;
}
ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}


p {
	clear:both;
}

img {
	align-self: center;
	height: 50px;
	width: 50px;
}
footer{
	position:relative;
	bottom:0;
	clear:both;
	background-color: #666666;
	text-align: center;
	padding: 15px;
	border-style: solid;
	border-color:#4aaaa5;
	border-width: 5px 0px 0px 0px;
	color: #efeee7;
	width:100%;
}
 .img_main{
    float: left;
    margin: 0px 20px 20px 20px;
    width: 200px;
    height: 250px;
}
.img_lg{
	height: 200px;
	width: 200px;
	margin: 0px 10px 0px 10px;
	display: block;
}
.img_block{
	position: relative;
	margin: 0px 25px 30px 25px;
	float: left;
}
.container{
	width: 100%;
	margin: 0 auto;
	height:100%;
	clear:both;
	border-style: solid;
	border-color:#cccccc;
	border-width: 5px 0px 0px 0px;
	padding-top: 20px;
	background-color: #dddddd;
}

.nav{
	width:25%;
	padding-top: 20px;
    padding-bottom: 20px;
    
}

.head{
	width: 700px;
}

.main,.side {
	float: left;
	padding: 20px;
}
.main{
	width: 50%;
	background-color: #ffffff;
	margin:40px;s
}
.side{
	width:20%;
	background-color: #ffffff;
	margin:40px;
}
 .head1{
 	//background-color: yellow;
 	margin:0px;
 }
.name{
	width: 100%;
}
.centText{
	padding: 30px;
}

@media only screen and (max-width: 640px){
    /*body {
        background-color:red;
    	}*/

    .head2{
 	
 		display: none;
		visibility: hidden;
 	}

    .side{
    	width: 70%;
    	}
    .img_main{
    	clear: both;
}
    .main{
    	width: 70%;
    	}

	}

 @media only screen and (max-width: 980px) and (min-width: 768px) {
    /*body {
        background-color:lightblue;
      
    	}*/
    	.head1 {
    			display: none;
				visibility: hidden;
		}
		.side{
    	width: 80%;
    	}
    	.img_main{
    	clear: both;
    	//width: 70%;
    	//height: 250px;
}
    .main{
    	width: 80%;
    	}
	}

@media only screen and (max-width: 768px) and (min-width: 640px ){
    /*body {
        background-color:green;
    }*/
    	.head1 {
    			display: none;
				visibility: hidden;
		}
		p {
    		text-align: left;
		}
		.side{
    	width: 70%;
    	}
    .img_main{
    	float: left;
    	//width: 70%;
    	//height: 250px;
}
    .main{
    	width: 70%;
    	}
}

@media only screen and (min-width: 980px) {
  /*  body {
        background-color:yellow;
      
    	}*/
    	.head1 {
    			display: none;
				visibility: hidden;
		}
	}